<div class="tag-heading">
  <h2>Contact Section</h2>
</div>
<section id="contact">
  <div class="left">
    <form id="form" class="form-container">
      <div class="form-element">
        <label for="name" class="required">Name</label>
        <input type="text" id="name" name="name" />
      </div>
      <div class="form-element">
        <label for="email" class="required">Email</label>
        <input type="text" id="email" name="email" />
      </div>
      <div class="form-element" id="password-element">
        <label for="password" class="required">Mobile No.</label>
        <input type="tel" id="password" name="password" />
      </div>
      <button type="submit" class="form-submit">
        <a href="">Submit</a>
      </button>
    </form>
  </div>
  <div class="right">
    <h3>Fill the Contact Form to Connect Us</h3>
    <p class="desc">
      Network analysis refers to a family of methods that describe relationships
      between units of analysis. A network is comprised of nodes as well as the
      edges or connections between them.
    </p>
  </div>
</section>
