 .service-card {
    display: flex;
    margin: 0 0.5rem;
    flex-direction: column;
    border: 1px solid rgb(203, 199, 199);
    border-radius: 25px;
    /* max-height: 35vh; */
  }
   .service-card img {
    height: 18vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    -o-object-fit: contain;
       object-fit: contain;
    border-bottom: 1px solid #666;
  }
   .service-card .card-content {
    padding: 10px 10px;
  }
   .service-card .card-content .tag {
    font-size: 14px;
    background-color: #eee;
    color: #192a56;
    padding: 2px 5px;
    border-radius: 25px;
  }
   .service-card .card-content h2 {
    color: grey;
    letter-spacing: 0.03em;
  }
   .service-card .card-content .blog-auther {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 50%;
  }
   .service-card .card-content .blog-auther img {
    height: 25px;
    width: 25px;
    line-height: 25px;
    padding: 5px;
    border-radius: 50%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  