<header>
  <div class="nav-left">
    <div class="logo">
      <span><i class="fa-solid fa-spoon"></i>FoodEasy</span>
    </div>
  </div>
  <nav class="nav-links">
    <ul class="nav-items">
      <li class="nav-item"><a href="/">AboutUs</a></li>
      <li class="nav-item"><a href="../feed/Feed.html">Home</a></li>
      <li class="nav-item"><a href="#blog-gallery">Menu</a></li>
      <li class="nav-item">
        <a href="./reservations/index.html">Reservations</a>
      </li>
    </ul>
  </nav>
  <div class="nav-right">
    <span class="user-btn"
    ><a href="../auth/Auth.html"
      ><i class="fa-solid fa-circle-user"></i>Login</a
    >
    <i class="fas fa-bars menu" onclick="toggleMenu()"></i>
  </span>
  </div>
</header>
