header{
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    align-items: center;
}

header .nav-links>ul>li{
     display: inline-block;
     text-decoration: none;
     vertical-align: middle;
     padding:0 1rem;
     
}

header .nav-right>span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    border: 1px solid #666;
    border-radius: 25px;
}
