<div id="reviews">
        <div class="left">
          <img src="../../../assets/img/healthy.webp" alt="image" />
          <p>Eat Healthy</p>
        </div>
        <div class="right">
          <div class="right-items">
            <h3>Customer Say About Us</h3>
            <div class="review-auther">
              <img src="../../../assets/img/healthy.webp" alt="" srcset="" />
              <div class="review-auther-info">
                <h4>Mridul Talwar</h4>
                <span>something</span>
              </div>
            </div>
            <p class="desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
              quidem, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem incidunt maiores modi ipsum id. Fugit distinctio quae ipsa! Consectetur, mollitia.
            
            </p>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
          </div>
        </div>
</div>
