#reviews {
  display: flex;
}
#reviews .left {
  flex: 7;
}
#reviews .left img {
  max-height: 60vh;
  max-width: 60vh;
  -o-object-fit: contain;
  object-fit: contain;
  margin: 1vh auto;
}
#reviews .left p {
  text-align: center;
  font-weight: 600;
}
#reviews .right {
  flex: 5;
  display: flex;
  align-items: center;
}
#reviews .right .review-auther {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
#reviews .right .review-auther img {
  width: 35px;
  height: 35px;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 50%;
  line-height: 35px;
  border: 1px solid #666;
}
#reviews .right .review-auther .review-auther-info {
  padding: 0 5px;
}
#reviews .right .review-auther .review-auther-info h4 {
  color: #192a56;
  letter-spacing: 0.02em;
}
#reviews .right .review-auther .review-auther-info span {
  font-size: 12px;
  color: #666;
  opacity: 0.8;
  letter-spacing: 0.01em;
}
#reviews .right .rating i {
  color: darkorange;
}
@media (max-width: 768px) {
  #reviews {
    flex-direction: column;
  }
  #reviews .left img {
    height: 40vh;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
