<section id="carousel">
    <!-- Single Silde -->
    <div class="slide">
      <div class="bg-img">
        <img src="../../../assets/img/dining.jpg" alt="" />
      </div>
      <div class="slide-content">
        <h1 class="heading">For the love of delicious food.</h1>
        <h3 class="sub-heading">
          Reservations of the day are discussed during the briefing prior to
          meal period; allocation of the tables is done at this time.
          Allocation of the table is done prior to the arrival of the guest
          and a note of the same is made on the reservation register,
        </h3>
        <button class="slide-btn">
          <a href="./bookTable.html">Book Your Table</a>
        </button>
      </div>
    </div>
    <!-- Arrow Btns -->
    <div class="prev">
      <span onclick="nextSlide(-1)"><i class="fa fa-arrow-left"></i></span>
    </div>
    <div class="next">
      <span onclick="nextSlide(1)"><i class="fa fa-arrow-right"></i></span>
    </div>
    <!-- Svg Divider -->
    <img src="../../../assets/img/wavesNegative.svg" alt="" srcset="" />
  </section>
