/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  font-family: "Arvo", serif;
  font-family: "Hind", sans-serif;
  font-family: "Maven Pro", sans-serif;
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
}

h3 {
  color: #666;
  letter-spacing: 0.03em;
  opacity: 0.8;
  font-size: 18px;
}

a{
  color: #192a56;
  font-weight: 700;
  text-transform: capitalize;
  padding: 6px 10px;
  border-radius: 5px;
  letter-spacing: 0.03em;
}

a:hover {
  background-color: transparent;
  color: #666;
  text-decoration: none;
}

.tag-heading {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.err-message {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.04em;
}

.desc {
  margin: 1.5rem 0;
  color: #666;
}
